@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Main Styling */
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
  color: rgba(255, 255, 255, .7);
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
}

a {
	text-decoration: none;
}

/* Utility Classes */
.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
}

.large {
	font-size: 20px;
}
.small {
	font-size: 12px;
}

.display-1 {
	font-size: 4rem;
}

.btn {
	background: #096C00;
  color: #fff;
  border: none;
  display: inline-block;
	font-size: 15px;
	padding: 12px 23px;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 4px;
}

.btn:hover {
	color: #71ae6b;
}


form input {
  width: 300px;
	padding: 7px 12px;
	font-size: 1rem;
	line-height: 1.5;
  color: #fff;
  background: transparent;
	border: 1px solid #ced4da;
	border-radius: 4px;
}

/* Main */
main {
	background: url('/images/background.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

main h1 {
  color: #fff;
}

main p {
  width: 70%;
  padding-bottom: 15px;
}

/* Footer */
.footer a {
  color: rgba(255, 255, 255, .7);
  padding-right: 10px;
}


/* Responsive */
@media (max-width: 768px) {
  main p {
    width: 100%;
  }
}
